.widget {
  background: $light-blue;
  margin-bottom: $xl-size;
}



.widget-header {
  background: $blue;
  color: $off-white;
  display: flex;
  justify-content: space-between;
  padding: $m-size;
}
.widget-header__title {
  margin: 0;
}



.widget-options {
  border-bottom: 1px solid lighten($light-blue, 10%);
}
.widget-options__list {
  padding-left: 0;
  margin: 0;
}
.widget-options__message {
  color: $off-white;
  line-height: 1;
  margin: 0;
  padding: $l-size $m-size;
  text-align: center;
}